<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <label>Name:</label>
    <input formControlName="name" required />

    <label>Email:</label>
    <input type="email" formControlName="email" required />

    <label>Role:</label>
    <select formControlName="role">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
    </select>
    <div class="active-checkbox">
      <label>Active:</label>
      <input type="checkbox" formControlName="active" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="!userForm.valid">
    Save
  </button>
</mat-dialog-actions>
