.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.logo img {
  height: 40px;
  margin-left: 20px;
}
.logo p {
  margin-top: 0px;
  font-weight: bold;
  color: #194479;
}

.nav-links {
  flex-grow: 1; /* Erlaubt der Navigation, den verfügbaren Platz einzunehmen */
  display: flex;
  justify-content: center; /* Zentriert die Navigation */
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px; /* Angenehme Schriftgröße */
}

.nav-links a:hover {
  color: #194479; /* Farbänderung beim Hover für bessere Interaktivität */
}

.nav-links a:active {
  color: #01adc1; /* Farbänderung beim Hover für bessere Interaktivität */
}
