.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #194479;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

thead {
  background-color: #194479;
  color: #ffffff;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.save-btn {
  padding: 10px 20px;
  background-color: #194479;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #017a8c;
}

.active-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #194479;
}

.delete-button img {
  width: 30px;
  height: 30px;
}

.delete-button {
  margin-right: 10px;
}

.buttons {
  max-width: 80px;
}

.delete-button:hover {
  background-color: #01adc1;
  cursor: pointer;
}

.delete-button:active {
  background-color: #017a8c;
  cursor: pointer;
}
