<div class="todo-edit-container">
  <h2>Edit Todo</h2>

  <!-- Titel -->
  <label for="title">Title</label>
  <input id="title" type="text" [(ngModel)]="todo.title" />

  <!-- Beschreibung -->
  <label for="description">Description</label>
  <textarea id="description" [(ngModel)]="todo.description"></textarea>

  <!-- Fälligkeitsdatum -->
  <label for="dueDate">Due Date</label>
  <input id="dueDate" type="date" [(ngModel)]="todo.date" />

  <label for="assigned">Assigned</label>
  <input id="assigned" [(ngModel)]="todo.assigned" />

  <!-- Dropdowns für Priority, Assigned & Status -->
  <div class="dropdowns">
    <div>
      <label for="priority">Priority</label>
      <select id="priority" [(ngModel)]="todo.priority">
        @for(opt of priorities; track opt){
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div>
    <!--
    <div>
      <label for="assigned">Assigned</label>
      <select id="assigned" [(ngModel)]="todo.assigned">
        @for(opt of assignees; track opt){
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div> -->

    <div>
      <label for="status">Status</label>
      <select id="status" [(ngModel)]="todo.status">
        @for(opt of statuses; track opt){
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Buttons -->
  <div class="button-container">
    <button class="cancel" (click)="cancel()">Cancel</button>
    <button class="ok" (click)="saveTodo()">Save</button>
  </div>
</div>
