<div class="todo-create-container">
  <h2>Create Todo</h2>

  <label for="title">Title</label>
  <input id="title" type="text" placeholder="Title" [(ngModel)]="todo.title" />

  <label for="description">Description</label>
  <textarea
    id="description"
    placeholder="Description"
    [(ngModel)]="todo.description"
  ></textarea>

  <label for="dueDate">Due Date</label>
  <input
    id="dueDate"
    type="date"
    placeholder="Due Date"
    [(ngModel)]="todo.date"
  />

  <label for="assigned">Assigned</label>
  <input id="assigned" placeholder="Name" [(ngModel)]="todo.assigned" />

  <div class="dropdowns">
    <div>
      <label for="priority">Priority</label>
      <select id="priority" [(ngModel)]="todo.priority">
        @for(opt of priorities; track opt){
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div>

    <div>
      <label for="status">Status</label>
      <select id="status" [(ngModel)]="todo.status">
        @for(opt of statuses; track opt){
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div>
  </div>

  <div class="button-container">
    <button class="cancel" (click)="cancel()">Cancel</button>
    <button class="ok" (click)="saveTodo()">Save</button>
  </div>
</div>
